.navbar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  z-index: 100;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  width: auto;
  flex-direction: column;
  margin-top: 10vh;
  text-align: end;
}

.nav-item a,
.navbar-brand a {
  color: var(--light);
  text-decoration: none;
  font-size: 15px;
  height: 5vh;
}

.nav-item {
  margin-top: 20px;
  background: linear-gradient(currentColor, currentColor) bottom / 100% 1px
    no-repeat;
  padding-right: 20px;
}

.navbar-brand {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand a {
  margin-top: 5px;
  font-weight: bold;
  line-height: 0;
  height: fit-content;
}

.navbar-brand .toggler {
  margin-left: auto;
  cursor: pointer;
}

.links-wrapper {
  height: 100vh;
  position: absolute;
  left: 100%;
  top: 0vh;
  width: 100vw;
  transition: 1s;
  z-index: -1;
}

.links-wrapper.active {
  left: 0;
  background-color: var(--gray);
}

.scrolled-down {
  background-color: var(--gray);
}

@media (min-width: 1024px) {
  .nav-links,
  .links-wrapper {
    flex-direction: row;
  }

  .navbar {
    padding: 15px 50px;
  }

  .links-wrapper {
    height: auto;
    position: static;
    width: auto;
  }

  .footer,
  .toggler {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    width: 50vw;
  }

  /* hover effect */
  .nav-item {
    background: linear-gradient(var(--light), var(--light)) bottom / 0 0.1em
      no-repeat;
    background-position: left bottom;
    padding: 10px;
    margin-top: 0;
  }

  .nav-item:hover {
    background-size: 100% 1px;
    transition: 0.8s;
  }
}
